// colors
$react-color:#61dafb;
$background-black-color: #20232a;
// $react-color: white; // #61dafb;
// $background-black-color: #363636; // #0073B2; // #283E4A; // #465280; // #20232a;


$background-gray-color: #F8F8F8;
$background-darker-gray-color: #E8EAED;
$text-black-color: #202124;
$text-gray-color: #808080;
$text-light-gray-color: #C2C4C4;
$star-icon-color: #FFC300;

// fonts
$font-stack: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
sans-serif; // Arial, Helvetica, sans-serif;

// font-sizes for ***paragraphs & spans only***
$def-font-size: 0.875em;
$sm-font-size: 0.75em;
$md-font-size: 1em;
$lg-font-size: 1.125em;
$xl-font-size: 1.4em;

// paddings & margins
$sm-pad: 8px;
$md-pad: 15px;
$lg-pad: 30px; 
$sm-mrg: 8px;
$md-mrg: 15px;
$lg-mrg: 30px;
