
html {
    height: 100%;
}
body {
    min-height: 100%;
    margin: 0;
    font-family: $font-stack;
    color: $text-black-color;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$toolbar-height: 9vh;
$body-height: 91vh;
// $footer-height: todo

// Not clear the usage of this definition
// code {
//     font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
//       monospace;
// }