.DrawerCont {
    width: 80%;
    max-width: 330px;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 500;
    background-color: white; // $app-main-color;
}
.DrawerHeader {
    width: 100%;
    height: 9vh;
    box-sizing: border-box;
    padding: 4px $md-pad;

    /* border-bottom: 1px solid white; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.SDAppName {
    font-size: $lg-font-size;
    font-weight: 500;
    color: $app-main-color;
}
.CloseDrawer {
    color: white;
}
.HideSideDrawer {
    display: none;
}


.Folder {
    width: 100%;
    font-size: 16px;
    padding: $md-pad;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}
.DrawerCont a {
    text-decoration: none;
}
.Folder div {
    width: 30px;
    color: red;
}
.Folder span {
    color: $text-black-color;
}

.NavigationLink {
    width: 100%;
    height: 30px;
    padding-left: 15px;
    border-bottom: 1px solid #DCDCDC;
    border-left: 1px solid #DCDCDC;
    display: flex;
    align-items: center;
    color: white;
}

@media only screen and (min-width: 768px) {
    .DrawerCont {
        display: none;
    }
}