.Toolbar {
    @extend #flex-row-edges; 
    height: $toolbar-height;
    box-sizing: border-box; 
    padding: 4px $md-pad;
    background-color: $app-main-color;
} 
.LeftCont { 
    @extend #flex-grouped-items-start;
    flex-grow: 2; 
}
.RightCont {
    display: none;
    @extend #flex-grouped-items-end;
}
.Logo {
    display: none;
}
.AppName {
    margin-left: $sm-mrg;
    font-size: $lg-font-size;
    font-family: $font-letter;
    font-weight: 500;
    color: white;
}
.SearchCont {
    @extend #flex-row-left;
    flex-grow: 2; 
    margin-left: $md-pad;
    padding: 0 5px;
    background-color: white;
    border-radius: 4px; 
    font-size: 0.9rem; /* for the search icon */
    color: $app-main-color;
}
.SearchBar {
    height: 32px;
    border: transparent;
    background-color: white; 
    font-size: 0.9rem;
    margin-left: 5px;
    width: 100%;
}
.SearchBar:focus {
    outline: none;
}
.ComposeCTA {
    display: none;
}
.ComposeImage {
    width: 24px;
    height: 24px;
    margin-left: $md-pad;
    /* nice tool to generate filter values from a HEX value of a color to apply to an image:
    https://codepen.io/sosuke/pen/Pjoqqp */
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(107deg) brightness(104%) contrast(103%);
}
.UserMenu {
    display: none; 
}
.SignOut {
    display: none;
}


@media only screen and (min-width: 768px) {
    .RightCont {
        display: initial;
    }    
    .Logo {
        display: initial;
        // margin-left: 10px;
        color: white;
        font-size: 2em; // $xl-font-size;
    }
    .AppName {
        font-size: $xl-font-size;
    }
    .SearchCont {
        max-width: 300px;
        padding: 0 10px;
        margin-left: $lg-mrg;
    }
    // .ComposeCTA {
    //     display: initial;
    //     margin-left: 20px;
    // }
    .SignOut {
        display: initial;
        cursor: pointer;
        // font-size: 16px; 
        font-weight: 600rem;
        color: white;
    }
    .UserMenu {
        display: initial;
        color: white;
    }
}

