@use 'AppWideStyles';

.MessageCont {
    width: 100%;
    max-width: 900px;
    box-sizing: border-box;
    padding: $ext-padding;
}

.MessageTitle {
    font-size: 1.375rem;
    font-family: $primary-font-family;
    font-weight: 400;
    color: #202124;
    margin-top: 0em;
}

.MessageRecepient { 
    font-size: 14px;
    font-weight: bold;
    font-family: $primary-font-family;
    color: #202124;
    display: block;
    line-height: 20px;
}

.MessageContent {
    font-size: 15px;
    line-height: 21px;
    color: #000;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    margin: $ext-margin 0px $ext-margin 0px;
    white-space: pre-line;
}
.MessageContent p {
    margin: 0px 0px;
}

.BasicDetails {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(220, 220, 220);
}

.SentTimeInDetails {
    font-size: 13px;
    margin-right: 15px;
}

.Star {
    color: #EBE7E7;
    margin-right: 10px;
}
.Starred {
    color: $star-icon-color;
}
