
.TodoContainer {
    @extend #flex-row-edges;
    padding: $sm-pad; 
    flex-wrap: wrap;
    background-color: white;
    border-bottom: 1px solid rgb(220, 220, 220);
    box-sizing: border-box;
}

.TodoText {
    flex-grow: 10;
    margin: 0 10px;
    border: none;
    font-size: $def-font-size;
    cursor: default; 
    outline: none; 
    background-color: inherit;
}
.TodoStatus {
    font-size: $lg-font-size;
}
.CharCounter {
    margin-right: 10px;
    color: $text-light-gray-color;
    font-size: $def-font-size;
}
.TodoDelete {
    float: right;
}
.Invisible {
    visibility: hidden; 
}
.Done {
    text-decoration: line-through;
}